# Binaries
treni
trenid
*.exe

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
bin/

# Environment
.env
.env.local

# Generated
*_templ.go
